<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row pricing-plan">
          <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
            <div class="pricing-box">
              <div class="pricing-body b-l">
                <div class="pricing-header">
                  <h4 class="text-center">Basico</h4>
                  <h2 class="text-center"><span class="price-sign">$</span>0</h2>
                  <p class="uppercase">para siempre</p>
                </div>
                <div class="price-table-content">
                  <div class="price-row"><i class="icon-user"></i> 3 Members</div>
                  <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                  <div class="price-row"><i class="icon-drawar"></i> 50GB Storage</div>
                  <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                  <div class="price-row">
                    <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
            <div class="pricing-box b-l">
              <div class="pricing-body">
                <div class="pricing-header">
                  <h4 class="text-center">Miembro Oro</h4>
                  <h2 class="text-center"><span class="price-sign">$</span>15</h2>
                  <p class="uppercase">por mes</p>
                </div>
                <div class="price-table-content">
                  <div class="price-row"><i class="icon-user"></i> 5 Members</div>
                  <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                  <div class="price-row"><i class="icon-drawar"></i> 80GB Storage</div>
                  <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                  <div class="price-row">
                    <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
            <div class="pricing-box featured-plan">
              <div class="pricing-body">
                <div class="pricing-header">
                  <h4 class="price-lable text-white bg-warning"> Popular</h4>
                  <h4 class="text-center">Miembro Platino</h4>
                  <h2 class="text-center"><span class="price-sign">$</span>400</h2>
                  <h6 style="padding: 3px" class="uppercase">por 6 meses o <span style="color: red">gratis</span> cuando tienes un proceso completo minimo de 6 meses con nuestra red de Agentes</h6>
                </div>
                <div class="price-table-content">
                  <div class="price-row"><i class="icon-user"></i> 10 Members</div>
                  <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                  <div class="price-row"><i class="icon-drawar"></i> 120GB Storage</div>
                  <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                  <div class="price-row">
                    <button class="btn btn-lg btn-info waves-effect waves-light m-t-20">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
            <div class="pricing-box">
              <div class="pricing-body b-r">
                <div class="pricing-header">
                  <h4 class="text-center">Miembro Diamante</h4>
                  <h2 class="text-center"><span class="price-sign">$</span>900</h2>
                  <h6 style="padding: 3px" class="uppercase">por 12 meses o <span style="color: red">gratis</span> cuando tienes un proceso completo minimo de 12 meses con nuestra red de Agentes</h6>
                </div>
                <div class="price-table-content">
                  <div class="price-row"><i class="icon-user"></i> 15 Members</div>
                  <div class="price-row"><i class="icon-screen-smartphone"></i> Single Device</div>
                  <div class="price-row"><i class="icon-drawar"></i> 1TB Storage</div>
                  <div class="price-row"><i class="icon-refresh"></i> Monthly Backups</div>
                  <div class="price-row">
                    <button class="btn btn-success waves-effect waves-light m-t-20">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
