.box_message{
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: white;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 6px;
  border-top: solid 1px gainsboro;
}
.app-mensajes{
  overflow-y:scroll;
  height: 80vh;
}

/*******************/
/*Chat widget*/
/*******************/
.chat-list {
  margin: 0px;
  padding: 0px; }
.chat-list li {
  list-style: none;
  margin-top: 30px; }
.chat-list li .chat-img {
  display: inline-block;
  width: 45px;
  vertical-align: top; }
.chat-list li .chat-img img {
  width: 45px;
  border-radius: 100%; }
.chat-list li .chat-content {
  width: calc(100% - 140px);
  display: inline-block;
  padding-left: 15px; }
.chat-list li .chat-content h5 {
  color: #99abb4; }
.chat-list li .chat-content .box {
  display: inline-block;
  margin-bottom: 10px;
  color: #263238; }
.chat-list li .chat-time {
  display: inline-block;
  text-align: right;
  width: 80px;
  font-size: 13px;
  color: #99abb4; }
.chat-list li.odd .chat-content {
  text-align: right;
  width: calc(100% - 90px); }
.chat-list li.odd .box {
  clear: both; }
.chat-list li.odd + .odd {
  margin-top: 0px; }
.chat-list li.reverse {
  text-align: right; }
.chat-list li.reverse .chat-time {
  text-align: left; }
.chat-list li.reverse .chat-content {
  padding-left: 0px;
  padding-right: 15px; }

/*******************/
/*Chat widget*/
/*******************/
.message-box ul li .drop-title {
  font-weight: 500;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13); }

.message-box ul li .nav-link {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding-top: 15px; }

.message-box .message-widget {
  position: relative; }
.message-box .message-widget a {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  display: block;
  text-decoration: none;
  padding: 9px 15px; }
.message-box .message-widget a:hover {
  background: #e9edf2; }
.message-box .message-widget a:last-child {
  border-bottom: 0px; }
.message-box .message-widget a div {
  white-space: normal; }
.message-box .message-widget a .user-img {
  width: 10px;
  position: relative;
  display: inline-block;
  margin: 0 10px 15px 0; }
.message-box .message-widget a .user-img img {
  width: 100%; }
.message-box .message-widget a .user-img .profile-status {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  left: 33px;
  position: absolute;
  top: -1px;
  width: 10px; }
.message-box .message-widget a .user-img .online {
  background: #06d79c; }
.message-box .message-widget a .user-img .busy {
  background: #ef5350; }
.message-box .message-widget a .user-img .away {
  background: #ffb22b; }
.message-box .message-widget a .user-img .offline {
  background: #ffb22b; }
.message-box .message-widget a .mail-contnet {
  display: inline-block;
  width: 70%;
  vertical-align: middle; }
.message-box .message-widget a .mail-contnet h5 {
  margin: 5px 0px 0; }
.message-box .message-widget a .mail-contnet .mail-desc,
.message-box .message-widget a .mail-contnet .time {
  font-size: 12px;
  display: block;
  margin: 1px 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #67757c;
  white-space: nowrap; }
