<div class="col-md-6" style="padding: 0">
  <div class="card">
    <div class="card-body " style="padding: 5px">
      <h3 class="card-title">Chat Agentes</h3>
      <h5 class="card-subtitle">Encontraras los chats que has abierto con los agentes y chats generales de otros agentes que no has abierto pero que puedes abrir.</h5>
      <ngb-tabset>
        <ngb-tab title="Mis Chats">
          <ng-template ngbTabContent>
            <div class="">
              <div (click)="onSelect(message)" *ngFor="let message of Users; let i = index" [class.selected]="message === selectedMessage" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                <div class="d-flex" *ngIf="!(User_no === message.User_id)">
                  <div >
                    <div *ngIf="message.img" class="avatar-status bg-{{message.type}}"> <img alt="" class="avatar-sm rounded-circle" [src]= "message.img" /> </div> <img *ngIf="!message.type" alt="" class="avatar-sm rounded-circle" src="{{message.avatar}}" />
                  </div>
                  <div class="pl-3">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                      <small class="font-medium text-{{message.type}}">
                        <i class="fa fa-circle text-{{message.type}} m-r-5 font-10"></i>{{message.name}}
                      </small>
                      <small class="bold text-muted time ">  {{ message.last_date | date: 'MMMM d' }} </small>
                    </div>
                    <p class="mb-0 font-14 "> {{message.email}} </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>General Chats</b></ng-template>
          <ng-template ngbTabContent>
            <div class="">
              <div (click)="onSelect(message)" *ngFor="let message of messages; let i = index" [class.selected]="message === selectedMessage" class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                <div class="d-flex">
                  <div class="">
                    <div *ngIf="message.type" class="avatar-status bg-{{message.type}}"> <img alt="" class="avatar-sm rounded-circle" src="{{message.avatar}}" /> </div> <img *ngIf="!message.type" alt="" class="avatar-sm rounded-circle" src="{{message.avatar}}" />
                  </div>
                  <div class="pl-3">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                      <small class="font-medium text-{{message.type}}">
                        <i class="fa fa-circle text-{{message.type}} m-r-5 font-10"></i>{{message.from}}
                      </small>
                      <small class="bold text-muted time ">  {{ message.date | date: 'MMMM d' }} </small>
                    </div>
                    <p class="mb-0 font-14 "> {{message.subject}} </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
