<div class="row">
  <div class="col-md-6">
    <div class="card text-center card-outline-inverse">
      <div class="card-header">
        <h3 style="color: white;" >Bienvenido al Chat Bot <span style="color: orange;">Beta 0.0.23</span> con inteligencia artificial de VisasWeb.com</h3>
      </div>
      <div class="card-body">
        <h4 class="card-title">Chat Sofia 24/7 </h4>
        <p class="card-text">El chat bot es un asesor con inteligencia artificial. </p>
        <button (click)="susan_chat()" type="button" class="btn btn-success"><i class="fa fa-comment"></i> Entrar chat <i class="mdi mdi-robot"></i></button>
        <p>Te ayudara en procesos educación, migración y trabajo para Australia.</p>
        <p>El objetivo es  brindar información personalizada y hacer procesos mas faciles para el viaje a Australia</p>
      </div>
      <div class="card-footer text-muted">
        <h6>Chat bot esta revision Beta 0.0.23 , si tienes alguna duda  <a [routerLink]="['/']">Contáctanos a soporte VisasaWeb.com</a></h6>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-justify card-outline-inverse">
      <div class="card-header text-center">
        <h3 style="color: white;"> Chat Bot Sofia</h3>
      </div>
      <div class="card-body">
        <h4 class="card-title"> Que puede hacer Sofia Bot </h4>
        <p class="card-text">  </p>
        <p><i class="fa  fa-hand-o-right"></i> Buscar información sobre Australia en su base de datos que se está alimentado de la web.</p>
         <p> <i class="fa  fa-hand-o-right"></i> Empezar un proceso de Estudios, trabajo y migraciones.</p>
          <p> <i class="fa  fa-hand-o-right"></i> Enviar a agentes especializados de la red VisasWeb.com para que empiecen tu caso.</p>
         <p><i class="fa  fa-hand-o-right"></i> Puede buscar otros profesionales en la red como contadores y abogados en Australia.</p>
         <p><i class="fa  fa-hand-o-right"></i> Puede aconsejar! soluciones basandose en otros procesos exitosos.</p>
        <br>
        <div style="text-align: right">
          <p style="font-style: italic">"Lo más importante es hacer la pregunta correcta en el momento justo" <br> <span >Sofia Bot</span></p>
        </div>
      </div>
      <div class="card-footer text-muted">
        <h6>Chat bot esta revision Beta 0.0.23 , si tienes alguna duda  <a [routerLink]="['/']">Contáctanos a soporte VisasaWeb.com</a></h6>
      </div>
    </div>
  </div>
</div>
