<!--*******************************************-->
<!--video start -->
<!-- ****************************************** -->
<div class="row">
  <div class="col-12 col-md-6">
  <div class="card">
    <div class="card-body" style="padding: 0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/255481521?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body" style="padding: 0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/258943204" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!--*******************************************-->
<!--video end -->
<!-- ****************************************** -->
<!--*******************************************-->
<!--cards for dashboard -->
<!-- ****************************************** -->
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body" style="background-color: #549AE6">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><i class="fa fa-user-circle-o icon-dashboard" ></i></div>
          <div class="align-self-center">
            <h5 class=" m-t-10 m-b-0" style="color: lightgray;">Agentes y Asesores</h5>
            <h2 class="m-t-0" style="color: white">+ 1,043</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body" style="background-color: #E6547E">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><i class="fa fa-graduation-cap icon-dashboard" ></i></div>
          <div class="align-self-center">
            <h5 class=" m-t-10 m-b-0" style="color: lightgray;">Centros de Estudio</h5>
            <h2 class="m-t-0" style="color: white">+ 102</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body" style="background-color: #E65454">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><i class="fa fa-youtube-play icon-dashboard" ></i></div>
          <div class="align-self-center">
            <h5 class=" m-t-10 m-b-0" style="color: lightgray;">Tutoriales y articulos</h5>
            <h2 class="m-t-0" style="color: white">+ 46</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body" style="background-color: #617385">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><i class="fa fa-gears  icon-dashboard" ></i></div>
          <div class="align-self-center">
            <h5 class=" m-t-10 m-b-0" style="color: lightgray;">Servicios</h5>
            <h2 class="m-t-0" style="color: white">+ 12</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--*******************************************-->
<!--end cards -->
<!-- ****************************************** -->

<p>let&#39;sgo</p>
